@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}

.main-cont {
    background: #f2f2f2;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.desc-header {
    width: 100%;
    height: auto;
    text-align: center;  
}

.desc-header img {
    width: 90%;
}

.desc-header p {
    font-size: 2em;
    color: #336666;
}

.cont-header {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont-header h1 {
    color: #336666;
}

.cont-header form {
    width: 350px;
    height: auto;
    border: 1px solid #336666;
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
}

.cont-header form label {
    display: block;
    padding: 10px;
}

.cont-header input{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#loginUsuario, #loginProfesor {
    display: block;
    width: 100%;
    padding: .7em;
    border: none;
    border-radius: 8px;
    background: #153744;
    color: #fff;
    cursor: pointer;
}

.alert {
    color: red;
}

.app-sidebar__user-avatar {
    width: 48px;
    padding: 6px;
    background: #fff;  
}




#verPassword{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    float: right;
    margin-top: -60px;
}
.view{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}

.btn{

    background-color: #142e3d;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background: #04a1fc;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
	background: #142e3d;
	color: wheat;
}

.buttons.button-large {
    padding: 0 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}

.botonfooter {
    background-color: #ff4747;
    width: 230px;
}

.buttons {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #0066ad;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



.container .sixteen.columns {
    width: 940px;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.top-bar {
   min-height: 13px; 
}
.page-title {
    padding: 10px 0;
    margin-bottom: 20px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 92%;
    font: inherit;
    vertical-align: baseline;
    background: #025a99;
}

.bordeado {
    width: 880px!important;
    border: 1px solid #c9c9c9;
    padding: 30px;
    margin-bottom: 40px;
}

.top-1 {
    margin-top: 15px!important;
}

.topbar1 {
    padding-left: 26px;
    padding-top: 3px;
    height: 31px;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 7px;
    font-size: 92%;
    font: inherit;
    vertical-align: baseline;
    background: #025a99;
}


form p{
    margin-top: 20px;
}

.registro_movil {
    margin-top: 20px;
    margin: 10px;
    width: 100px;
}

.require {
    margin-top: 20px;
    margin: 10px;

}
input  {
    width: 300px;
    height: 38px;
    border: 1px #d1d1d1 solid;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.form-group {
    width: 445px;
    margin-right: 0;}

.form-btn {
    width: 800px;
    margin-right: 0;
    margin-top: 70px;

}
.form-inline{
   margin-left: 20px;
   margin-right: 20px;
 

}

form label{
	width:180px;
}

.obligatorio {
font-weight: bold;
text-align: left;
float: left;
   
}

select {
    width: 200px;
    height: 38px;
    border: 1px #d1d1d1 solid;
    margin-bottom: 15px;
    padding: 2px;
    color: #888;
    margin-right: 10px;
    font-size: 14px;
}



 

.container .column, .container .columns {float: left;
margin-left: 100px;
margin-right: 100px; 
margin-top: 0px;
}
.bgenerar,.bvolver {
    width: 200px;
    height: 40px;
    background-color: #0083c3;
    color: #fff;
    border: 1 solid;
    font-weight: 700;
    font-size: 15px;
    margin: 8px;
}


